<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link rel="stylesheet" href="../src/output.css" />
  </head>
  <body class="overflow-x-hidden">
    <nav class="w-screen z-20 allNavbar">
      <marquee class="h-10 w-screen marquee flex items-center text-xl"
        >#18A/19, Doddanekundi Industrial Area,II Phase, Mahadevapura
        Post,Bangalore - 560 048,Karnataka, India. || #18A/19, Doddanekundi
        Industrial Area,II Phase, Mahadevapura Post,Bangalore - 560
        048,Karnataka, India.</marquee
      >
      <div
        class="w-screen h-20 navbar transition ease-in duration-300 hover:opacity-100 hover:bg-gray-800 flex justify-end items-center text-xs z-30"
      >
        <img class="w-8 float-start h-9 menu" src="../Images/menu.png" alt="" />
        <img
          class="md:w-36 h-10 w-24 lg:mr-0 mr-12 md:h-14"
          src="../Images/Logo.png"
          alt=""
        />

        <ul class="flex lg:justify-center w-4/5 lg:ml-4 ml-0 navlist">
          <li
            class="text-lg font-semibold items-center cursor-pointer mx-4 product lg:pt-2 pt-4"
          >
            <div class="flex items-center justify-between text-white text-lg">
              Products
              <img
                class="w-6 h-5 ml-2 productDropdown lg:hidden block"
                src="../Images/Dropdown.png"
                alt=""
              />
              <!-- the bellow image will come in to the picture when our screen width is 1024 -->
              <img
                class="w-4 h-4 lg:ml-2 lg:block hidden"
                src="../Images/Dropdown.png"
                alt=""
              />
            </div>
            <div class="navProduct flex lg:justify-evenly">
              <ul class="h-auto space-y-4 lg:text-white text-slate-500">
                <li class="text-base lg:border-none lg:text-white text-red-600">
                  DWDM
                </li>
                <li class="hover:text-red-600">
                  <a href="../components/Product.html">Product 1</a>
                </li>
                <li class="hover:text-red-600"><a href="">Product 2</a></li>
                <li class="hover:text-red-600"><a href="">Product 3</a></li>
              </ul>
              <ul class="space-y-4 lg:text-white text-slate-500">
                <li class="text-base lg:text-white text-red-600">OTN</li>
                <li class="hover:text-red-600"><a href="">Product 1</a></li>
                <li class="hover:text-red-600"><a href="">Product 2</a></li>
                <li class="hover:text-red-600"><a href="">Product 3</a></li>
              </ul>
              <ul class="space-y-4 lg:text-white text-slate-500">
                <li class="text-base lg:text-white text-red-600">
                  Optical Line System (OLS)
                </li>
                <li class="hover:text-red-600"><a href="">Product 1</a></li>
                <li class="hover:text-red-600"><a href="">Product 2</a></li>
                <li class="hover:text-red-600"><a href="">Product 3</a></li>
              </ul>
              <ul class="space-y-4 lg:text-white text-slate-500">
                <li class="text-base lg:text-white text-red-600">
                  GPON/NG-PON
                </li>
                <li class="hover:text-red-600"><a href="">Product 1</a></li>
                <li class="hover:text-red-600"><a href="">Product 2</a></li>
                <li class="hover:text-red-600"><a href="">Product 3</a></li>
              </ul>
              <ul class="text-base lg:text-white text-slate-500 space-y-3">
                <li class="hover:text-red-600"><a href="">MPLS/CSGR</a></li>
                <li class="hover:text-red-600">
                  <a href="">Enterprise Switch/Router</a>
                </li>
                <li class="hover:text-red-600"><a href="">4G/LTE RAN</a></li>
                <li class="hover:text-red-600"><a href="">5G RAN</a></li>
                <li class="hover:text-red-600">
                  <a href="">Wireless Backhaul Radios</a>
                </li>
              </ul>
              <ul class="text-base lg:text-white text-slate-500 space-y-3">
                <li class="hover:text-red-600">
                  <a href="">WiFi Access Point</a>
                </li>
                <li class="hover:text-red-600"><a href="">4G/5G CPE</a></li>
                <li class="hover:text-red-600"><a href="">Set Top Box</a></li>
                <li class="hover:text-red-600">
                  <a href="">Smart Energy Meter</a>
                </li>
                <li class="hover:text-red-600">
                  <a href="">Network Orchestrator </a>
                </li>
              </ul>
            </div>
          </li>
          <li
            class="text-lg font-semibold items-center cursor-pointer mx-4 solutions lg:border-t-0 border-t lg:pt-2 pt-4"
          >
            <div class="flex items-center justify-between text-white text-lg">
              Solutions
              <img
                class="w-6 h-5 ml-2 solutionDropdown lg:hidden"
                src="../Images/Dropdown.png"
                alt=""
              />
              <!-- the bellow image will come in to the picture when our screen width is 1024 -->
              <img
                class="w-4 h-4 lg:ml-2 lg:block hidden"
                src="../Images/Dropdown.png"
                alt=""
              />
            </div>
            <div class="navSolution px-5 flex flex-col">
              <ul class="h-auto space-y-2 lg:text-white text-slate-500">
                <li class="hover:text-red-600">
                  <a href="">State Wide Area Network (SWAN)</a>
                </li>
                <li class="hover:text-red-600">
                  <a href="">e-Governance and Citizen Service </a>
                </li>
                <li class="hover:text-red-600">
                  <a href="">Mobile Fronthaul/Backhaul</a>
                </li>
                <li class="hover:text-red-600">
                  <a href="">Broadband Network</a>
                </li>
                <li class="hover:text-red-600">
                  <a href="">Enterprise Network</a>
                </li>
                <li class="hover:text-red-600">
                  <a href="">Managed Services</a>
                </li>
                <li class="hover:text-red-600">
                  <a href="">Access Network</a>
                </li>
                <li class="hover:text-red-600">
                  <a href="">Transmission Network</a>
                </li>
                <li class="hover:text-red-600">
                  <a href="">Embedded and IoT</a>
                </li>
                <li class="hover:text-red-600"><a href="">IT & ITES</a></li>
                <li class="hover:text-red-600"><a href="">Education</a></li>
              </ul>
            </div>
          </li>
          <li
            class="text-lg font-semibold items-center cursor-pointer mx-4 CompanyGroup lg:border-t-0 border-t lg:pt-2 pt-4"
          >
            <div class="flex items-center justify-between text-white text-lg">
              UTL Group Companies
              <img
                class="w-6 h-5 ml-2 groupsDropdown lg:hidden"
                src="../Images/Dropdown.png"
                alt=""
              />
              <!-- the bellow image will come in to the picture when our screen width is 1024 -->
              <img
                class="w-4 h-4 lg:ml-2 lg:block hidden"
                src="../Images/Dropdown.png"
                alt=""
              />
            </div>
            <div class="flex flex-col px-5 navGroups">
              <ul class="h-auto space-y-3 lg:text-white text-slate-500">
                <li class="hover:text-red-600">
                  <a href="">United Telecoms Limited</a>
                </li>
                <li class="hover:text-red-600">
                  <a href="">Trigyn Technologies</a>
                </li>
                <li class="hover:text-red-600"><a href="">USEIPL</a></li>
                <li class="hover:text-red-600">
                  <a href="">Priya Raja Electronics</a>
                </li>
                <li class="hover:text-red-600">
                  <a href="">UTL Technologies</a>
                </li>
                <li class="hover:text-red-600">
                  <a href="">United Telelinks</a>
                </li>
              </ul>
            </div>
          </li>

          <li
            class="text-lg items-center cursor-pointer mx-4 about font-semibold lg:border-t-0 border-t lg:pt-2 pt-4"
          >
            <div class="flex items-center justify-between text-white text-lg">
              About Us
              <img
                class="w-6 h-5 aboutDropdown lg:hidden"
                src="../Images/Dropdown.png"
                alt=""
              />
              <!-- the bellow image will come in to the picture when our screen width is 1024 -->
              <img
                class="w-4 h-4 ml-2 lg:block hidden"
                src="../Images/Dropdown.png"
                alt=""
              />
            </div>
            <div class="flex flex-col px-5 navAbout">
              <ul class="h-auto space-y-3 lg:text-white text-slate-500">
                <li class="hover:text-red-600">
                  <a href="">Company Profile</a>
                </li>
                <li class="hover:text-red-600">
                  <a href="">Board Of Directors</a>
                </li>
                <li class="hover:text-red-600">
                  <a href="">Key Management</a>
                </li>
                <li class="hover:text-red-600">
                  <a href="">Award And Recognition</a>
                </li>
                <li class="hover:text-red-600">
                  <a href="">Corporate Social Responsibility</a>
                </li>
              </ul>
            </div>
          </li>
          <li
            class="text-lg flex items-center cursor-pointer font-semibold mx-4 text-white lg:border-t-0 border-t lg:pt-2 pt-4"
          >
            Investor
          </li>
          <li
            class="text-lg flex items-center cursor-pointer font-semibold mx-4 text-white lg:border-t-0 border-t lg:pt-2 pt-4"
          >
            Contact Us
          </li>
        </ul>
      </div>
    </nav>
    <!-- products display page -->
    <div class="product-page">
      <div class="w-screen bg-gray-900">
        <div class="product-info w-full flex flex-wrap pt-36 m-auto">
          <div class="lg:w-2/4 w-11/12 pb-4 md:pl-0">
            <h1
              class="md:text-6xl text-start text-4xl mb-5 text-blue-600 font-bold italic border-spacing-2"
            >
              Product name
            </h1>
            <p class="md:text-2xl text-xl text-gray-400">
              Hyperscale datacenter networks are under continuous pressure to
              provide massive scale and capacity. 400G Ethernet is a key
              technology building block to evolve the infrastructure to support
              the proliferation of mobile and cloud-based applications. Edgecore
              contributed to the Open Compute Project (OCP) of the design of a
              400 Gigabit Ethernet data center switch, the industry’s first 400G
              open design, deliver high performance and density, as well as low
              latency and exceptional power efficiency in a several form factors
            </p>
          </div>
          <div class="w-2/5 flex justify-center">
            <img class="w-min" src="../Images/Products/400G.png" alt="" />
          </div>
        </div>
      </div>
      <!-- product features -->
      <div class="w-screen bg-gray-800 py-12">
        <div class="product-feature h-auto m-auto bg-gray-800">
          <h1 class="text-4xl text-start text-blue-600 font-bold">
            Key Features
          </h1>
          <div
            class="product-feature-boxes flex flex-wrap mt-4 justify-between"
          >
            <div class="w-28 h-28 border rounded-lg mt-4 bg-white"></div>
            <div class="w-28 h-28 border rounded-lg mt-4 bg-white"></div>
            <div class="w-28 h-28 border rounded-lg mt-4 bg-white"></div>
            <div class="w-28 h-28 border rounded-lg mt-4 bg-white"></div>
            <div class="w-28 h-28 border rounded-lg mt-4 bg-white"></div>
            <div class="w-28 h-28 border rounded-lg mt-4 bg-white"></div>
          </div>
        </div>
      </div>

      <!-- related products list slide -->
      <div class="w-screen bg-gray-900 py-11">
        <div class="RelatedProducts">
          <p class="text-start text-3xl text-blue-600 font-semibold">
            Related Products
          </p>
          <div class="Related-Product-List my-6 flex flex-wrap space-x-5">
            <div class="md:w-96 w-80 h-96 rounded-md bg-slate-400"></div>
            <div class="md:w-96 w-80 h-96 rounded-md bg-slate-400"></div>
            <div class="md:w-96 w-80 h-96 rounded-md bg-slate-400"></div>
          </div>
        </div>
      </div>
    </div>

    <!------------------------ footer ---------------------------->

    <div class="w-screen footer pb-8">
      <div
        class="w-screen md:pl-0 pl-4 h-64 flex justify-center items-center footer-contact bg-slate-300"
      >
        <div
          class="sm:w-4/5 w-full flex flex-wrap justify-between items-center"
        >
          <div class="md:w-2/4 w-full">
            <h1 class="font-bold sm:text-5xl text-3xl py-3 text-white">
              We’re Ready To Help You
            </h1>
            <p class="text-xl font-semibold text-gray-800">
              Get in touch with us today and let’s start transforming your
              business from the ground up.
            </p>
          </div>
          <div class="md:w-2/4 w-full flex justify-center">
            <button
              class="w-48 h-12 border-gray-600 border italic transition-all duration-300 hover:bg-blue-600 md:mt-0 mt-8 hover:border-none hover:font-semibold drop-shadow-lg rounded-md text-black hover:text-white font-medium"
            >
              Contact Our Team
            </button>
          </div>
        </div>
      </div>
      <div class="Logo-and-Icon m-auto mb-6">
        <h1 class="font-extrabold text-5xl text-blue-600 italic">UTL</h1>
        <div class="flex space-x-2">
          <a
            class="w-10 h-10 rounded-full hover:transition-transform hover:duration-300 hover:-translate-y-3"
            href=""
          >
            <img src="../Images/SocialMedia/facebook.png" alt=""
          /></a>
          <a
            class="w-10 h-10 rounded-full hover:transition-transform hover:duration-300 hover:-translate-y-3"
            href=""
            ><img src="../Images/SocialMedia/gmail.png" alt=""
          /></a>
          <a
            class="w-10 h-10 rounded-full hover:transition-transform transition-all hover:duration-300 hover:-translate-y-3"
            href=""
            ><img src="../Images/SocialMedia/linkedIn.png" alt=""
          /></a>
        </div>
      </div>
      <div class="footer-list flex flex-wrap md:justify-evenly justify-start">
        <div class="cursor-pointer text-start space-y-2 md:mt-0 mt-6">
          <h1 class="text-xl font-semibold mb-6 text-white">
            UTL Group Companies
          </h1>
          <li>United Telecoms Limited</li>
          <li>Trigyn Technologies</li>
          <li>USEIPL</li>
          <li>Priya Raja Electronics</li>
          <li>UTL Technologies</li>
          <li>United Telelinks</li>
        </div>
        <div class="cursor-pointer space-y-2 md:mt-0 mt-6">
          <h1 class="text-xl font-semibold mb-6 text-white">Solution</h1>
          <li>State Wide Area Network (SWAN)</li>
          <li>e-Governance and Citizen Service</li>
          <li>Mobile Fronthaul/Backhaul</li>
          <li>Broadband Network</li>
          <li>Enterprise Network</li>
          <li>Managed Services</li>
          <a href="" class="font-bold text-lg text-blue-600">View More..</a>
          <!-- <li>Access Network</li>
            <li>Transmission Network</li>
            <li>Embedded and IoT</li>
            <li>IT & ITES</li>
            <li>Education</li> -->
        </div>
        <div class="cursor-pointer space-y-2 md:mt-0 mt-6">
          <h1 class="text-xl font-semibold mb-6 text-white">About Us</h1>
          <li>Company Profile</li>
          <li>Board Of Directors</li>
          <li>Key Management</li>
          <li>Award And Recognition</li>
          <li>Corporate Social Responsibility</li>
        </div>

        <div class="cursor-pointer space-y-2 md:mt-0 mt-6 md:mb-0">
          <li>Compliance</li>
          <li>NewsRoom</li>
          <li>Privacy Policy</li>
          <li>Careers</li>
          <li>Contact Us</li>
        </div>
      </div>

      <div class="md:w-5/6 w-11/12 text-center m-auto mt-7 footerBottom">
        <p class="text-gray-600">Terms Of Use Privacy Policy</p>
        <p class="text-blue-700">© 2023-24 UTL All Rights Reserved.</p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../index.js"></script>
    <script type="" src="../swaper.js"></script>
  </body>
</html>
