@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: whitesmoke;
}
.marquee {
  background-color: rgba(199, 196, 226, 1);
}
/* styling navbar */
.navbar {
  position: fixed;
  /* background-color: rgba(60, 60, 60, 0.985); */
  background: #000;
}
.allNavbar {
  position: fixed;
  top: 0%;
}
.bg-transparent {
  background-color: rgb(16, 16, 16);
}

.bg-black-on-scroll {
  background-color: rgb(15, 10, 20);
  position: fixed;
  top: 2.5rem;
}
.navProduct {
  width: 980px;
  /* background-color: #2b2b2c; */
  position: absolute;
  top: 4.8rem;
  left: 6%;
  height: 0px;
  overflow: hidden;
  font-size: 14px;
  transition: height 0.2s;
}

.product:hover .navProduct {
  height: 250px;
  /* border-top-width: 5px; */
  /* border-top-color: blue; */
  /* overflow: visible; */
  transition: height 0.2s;
}
.navSolution {
  margin-left: -5rem;
}
.navAbout {
  margin-left: -3rem;
}
.navSolution,
.navGroups,
.navAbout {
  position: absolute;
  /* background-color: #2b2b2c; */
  /* margin-left: -20px; */
  height: 0px;
  overflow: hidden;
  top: 4.8rem;
  left: auto;
  font-size: 14px;
  transition: height 0.4s;
}
.solutions:hover .navSolution {
  height: 520px;
  /* border-top-width: 5px;
  border-top-color: blue; */
  /* overflow: visible; */
  transition: height 0.4s;
}
.navAbout {
  width: 230px;
}
.CompanyGroup:hover .navGroups,
.about:hover .navAbout {
  height: 290px;

  /* overflow: visible; */
  transition: height 0.4s;
}
.menu {
  display: none;
  position: absolute;
  left: 12px;
}
.dropdown-menu {
  display: none;
}
/* adding the Responsiveness to Navigation bar */
@media (max-width: 1023px) {
  .showNavbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    justify-content: baseline;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    width: 100vw;
    height: 24rem;
    overflow: scroll;
    text-align: center;
    transition: 0.2s height linear;
  }

  .navlist {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    justify-content: center;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    width: 100vw;
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: 0.2s height linear;
  }
  /* .product */
  .menu {
    display: flex;
  }
  .navSolution,
  .navGroups,
  .navAbout,
  .navProduct {
    /* border-top: solid black 1px; */
    font-size: 18px;
    /* background-color: #1b1b1b; */
    color: black;
    width: 90vw;
    height: 0px;
    overflow: hidden;
    margin: auto;
    position: static; /* Change to your desired positioning for smaller screens */
    top: auto;
    left: auto;
    margin: 10px 0 11px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* text-align: start; */
    transition: height 0.8;
  }

  .product:hover .navProduct,
  .solutions:hover .navSolution,
  .CompanyGroup:hover .navGroups,
  .about:hover .navAbout {
    height: 0px;
    width: auto;
    border-top-width: 0px;
    border-top-color: initial;
    transition: none;
  }
  /* following class we are using toggle the dropdowns of each navlinks like products,about,utl groups,ect */
  .openDropdown {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    color: black;
    width: 90vw;
    height: fit-content;
    margin: 8px 0 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    overflow: scroll;
    transition: height 0.8;
  }
}

/* styling home page */
.home {
  width: 100vw;
  height: 100vh;
  animation-name: HomePage;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 640px) {
  .home {
    width: 100vw;
    height: 75vh;
    animation-name: HomePage;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.homeHaeding {
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 18px 12px 13px #000000;
  font-style: oblique;
}
@keyframes HomePage {
  0%,
  100% {
    background-image: url("../Images/home/home1.jpg");
  }
  33% {
    background-image: url("../Images/home/home2.jpg");
  }
  66% {
    background-image: url("../Images/home/home3.jpg");
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* solution page */
.SolutionsContainer {
  min-width: 90vw;
  max-width: 80vw;

  margin: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
}
.swiper-slide1 {
  background-color: #e8e8e8 !important;
  transition: 0.4s background-color ease-in-out;
}
.swiper-slide1:hover {
  background-color: #cacaca !important;
  transition: 0.4s background-color ease-in-out;
}

/* styling About page */
.aboutBoxes {
  width: 65vw;
}
@media (max-width: 900px) {
  .aboutBoxes {
    width: 100vw;
  }
}
/* swaper */
.utlProductsSliderContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: rgb(234, 234, 234); */
  height: 60vh;
}
.swiper {
  width: 90vw;
  height: 45vh;
  margin: auto;
}
.swiper-slide1 {
  min-width: 280px;
}
.swiper-slide {
  width: 300px;
  height: 45vh;
  /* border: solid rgb(96, 96, 96) 1px; */
  border-radius: 1rem;
  text-align: center;
  font-size: 18px;
  overflow: hidden;
  background: rgb(246, 246, 246);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

/* footPrint */
.footer-contact {
  background: url("../Images/footer_image.jpg") no-repeat center center/cover;
}
.footer {
  background-color: #24292d;
  /* background: url("../Images/footer_image.jpg") no-repeat center center/cover; */
}
.footer-list {
  width: 90vw;
  margin: auto;
  justify-content: space-around;
}
.Logo-and-Icon {
  display: flex;
  width: 90vw;
  justify-content: space-between;
}
.footer-list > div > li {
  list-style: none;
  font-weight: 500;
  font-size: 1.1rem;
  font-family: sans-serif arial "Source Sans Pro";
  color: #7f7f7f;
  transition: 0.2s transform linear;
}
.footer-list > div {
  min-width: 320px;
  flex: 4;
}
.footer-list > div > li:hover {
  transition: 0.2s transform linear;
  transform: translateX(10px);
}
.footerBottom {
  padding-top: 8px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top: solid gray 1px;
}

/* styling the Product page */

.product-page {
  width: 100vw;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  /* background-color: white; */
  align-items: center;
  flex-direction: column;
}
.product-info {
  width: 90vw;
  display: flex;
  justify-content: start;
}
.product-info > div {
  width: 50%;
}
@media (max-width: 1083px) {
  .product-info {
    display: flex;
    justify-content: center;
  }
  .product-info > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: start; */
  }
}
.product-feature {
  width: 90vw;
}
.RelatedProducts {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: auto;
}
@media (max-width: 770px) {
  .RelatedProducts {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: auto;
  }
}
